body {
    display: flex;
    flex-direction: column;
    background-size: cover; 
    background-position: center;
}

.container {
    flex: 1 0 auto;
    width: 960px;
    margin-top: 25px;
    padding: 28px;
    border-radius: 25px;
}

.main-header {
    z-index: 99;
}

.nav-button-container .nav-link {
    float: right;
    margin: 0 !important;
    padding: 5px !important;
}
